{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 100,
  "experimentalTernaries": true
}
